config.php
database.php
db_connect.php
db_connection.php
db.php
composer.lock
database_test.php
billing_debug.log
booking_debug.log
default.php
booking_detailed_debug.log
error_log
simple_debug.log
php_error.log
/uploads/
/uploads_rooms/
/payment_receipts/
/proof_of_payment/
/reservations/
/vendor/
/images/
/tcpdf/